.airport-detail {
	background-color: rgba(142, 202, 199, 0.41);;
	text-align: start;
  padding: 0.8em;
	margin: 2em 0em;
	border-radius: 0.3em;
}

.airport-detail-heading {
	padding-bottom: 1em;
	font-weight: bold;
}

.airport-detail-value {
	color: grey;
}

.fill {
  min-height: 90%;
}
