<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#">{{title}}</a>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="heading">Airport Information</h1>
    <span>
      The essential facts about your favourite airports worldwide. <br />
      Right here, at your fingertips.
    </span>
  </div>
  <h1> Airports </h1>
  <hr>

  <table>
    <thead>
      <th><span>icao_code</span></th>
      <th><span>desc</span></th>
      <th><span>name</span></th>
    </thead>
        <tbody>
        <tr *ngFor="let airport of airports">
          <td>{{ airport.icao_code }}</td>
          <td>{{ airport.desc }}</td>
          <td>{{ airport.name }}</td>
        </tr>
        </tbody>
  </table>
</div>
