<app-navbar></app-navbar>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#"></a>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="heading">Vehicle Information</h1>
    <span>
      Here you can see the vehicles. <br />
    </span>
  </div>
  <h1> Vehicles </h1>
  <hr>

  <table>
    <thead>
    <th><span>no</span></th>
    <th><span>isAvailable</span></th>
    <th><span>noOfSeats</span></th>
    <th><span>airport</span></th>
    <th><span>driver</span></th>
    </thead>
    <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <td>{{ vehicle.no }}</td>
      <td>{{ vehicle.isAvailable }}</td>
      <td>{{ vehicle.noOfSeats }}</td>
      <td>{{ vehicle.airport.toString() }}</td>
      <td>{{ vehicle.driver.toString() }}</td>
    </tr>
    </tbody>
  </table>
</div>
