<%@page import="com.birnbaua.model.Airport"%>
<%@page import="com.birnbaua.model.Vehicle"%>
<%@page import="com.birnbaua.model.Hotel"%>
<%@page import="java.util.List"%>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Luke, I am your father">
  <title>Vehicles</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/jsp_assignment/hotels">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jsp_assignment/airports">Airports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jsp_assignment/vehicles">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jsp_assignment/routes">Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jsp_assignment/drivers">Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jsp_assignment/rides">Rides</a>
      </li>
    </ul>
  </div>

</nav>
<div class="container div-center">
  <table id=vehicles class="table">
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 40%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
    <tr>
      <th>ID</th>
      <th>Airport</th>
      <th>Is Avaliable</th>
      <th>Description</th>
      <th>Seats For Customers</th>
      <th></th>
    </tr>
    </thead>
    <%
    List<Vehicle> vehicles = (List<Vehicle>) request.getAttribute("vehicles");
    for(Vehicle vehicle : vehicles) {
    %>
    <tr>
      <td><%=vehicle.getId()%></td>
      <td><%=vehicle.getAirport().getIcaoCode() %></td>
      <td><%=vehicle.getIsAvaliable() %></td>
      <td><%=vehicle.getDesc()%></td>
      <td><%=vehicle.getSeatsForCustomers()%></td>
      <td>
        <form action="vehicles" method="post">
          <input hidden="true" name="delete" value="<%=vehicle.getId()%>"></input>
          <input type="submit" value="DELETE">
        </form>
      </td>
    </tr>
    <%
    }
    %>
  </table>
</div>
<div class="container" role="toolbar" id="lettersToolbar">
  <div class="btn-group mr-2" style="padding-bottom: 20px">
    <button class="btn btn-default" data-toggle="modal" data-target="#myModal" style="background-color: #337ab7" id="add">Add new Vehicle</button>
  </div>
</div>
<!-- class modal fade not working?? -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create new Vehicle</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="hotelForm" method="post" action="/jsp_assignment/vehicles">
          <div class="form-group">
            <label for="name1">Seats For Customers</label>
            <input type="text" class="form-control" id="seatsForCustomers1" name="seatsForCustomers" required>
          </div>
          <div class="form-group">
            <label for="url1">Description</label>
            <input type="text" class="form-control" id="desc1" name="desc" required>
          </div>
          <div class="form-group">
            <label for="url1">Airport</label>
            <select name="airport" id="airport12" required>
              <%
              List<Airport> airports = (List<Airport>) request.getAttribute("airports");
              for(Airport airport : airports) {
              %>
              <option value="<%=airport.getIcaoCode()%>"><%=airport.getName() %></option>
              <%
              }
              %>
            </select>
          </div>
          <input type="submit" class="btn btn-primary" value="Save"></input>
        </form>
      </div>
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
