<app-navbar></app-navbar>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#"></a>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="heading">Booking Information</h1>
    <span>
      Here you can see the bookings. <br />
    </span>
  </div>
  <h1> Bookings </h1>
  <hr>

  <table>
    <thead>
    <th><span>id</span></th>
    <th><span>route</span></th>
    <th><span>start</span></th>
    <th><span>end</span></th>
    <th><span>passengers</span></th>
    </thead>
    <tbody>
    <tr *ngFor="let booking of bookings">
      <td>{{ booking.id }}</td>
      <td>{{ booking.route.toString() }}</td>
      <td>{{ booking.start }}</td>
      <td>{{ booking.end }}</td>
      <td>{{ booking.passengers }}</td>
    </tr>
    </tbody>
  </table>
</div>
